<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Anime Rank(Base on AnimeNewsNetwork, Bangumi and AnimeSachi)</title>
</head>

<body>
    <div id="mainContainer">
        <div class="ui fixed blue inverted menu" style="min-height: 52px">
            <div class="ui container">
                <a class="item" v-bind:class="{ 'header': currentView == 'anime-rank' }" @click="changePage('anime-rank')">
                Anime Rank
                </a>
                <a class="item" v-bind:class="{ 'header': currentView == 'comments' }" @click="changePage('comments')">Comments</a>
                <a class="item" href="http://frezc.com" target="_blank">Blog</a>
                <div class="right item" v-if="currentView == 'anime-rank'">
                    <div class="ui transparent inverted icon input">
                        <input class="prompt" type="text" v-model="keyword" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>

        <div class="ui main container" style="margin-top:60px;">
            <div v-show="currentView == 'anime-rank'" id="view_rank">
                <anime-rank :keyword='keyword'></anime-rank>
            </div>
            <div v-show="currentView == 'comments'" id="view_comments">
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="anime-rank" data-title="anime_rank" data-url="http://statistics.frezc.com/anime-rank.html"></div>
                <!-- 多说评论框 end -->
            </div>
        </div>

        <div class="ds-share flat" data-thread-key="anime-rank" data-title="多网站的动画排行榜" data-images="http://f.hiphotos.baidu.com/baike/w%3D268/sign=1fc3b24d362ac65c67056175c3f2b21d/55e736d12f2eb938be1414dfd6628535e5dd6fa5.jpg"
        data-content="基于Bangumi, animenewsnetwork, animesachi 三个网站数据统计的动画排行, 主要目的还是统计一个补番列表, 所以不要把排行看得这么重要" data-url="http://statistics.frezc.com/anime-rank.html">
            <div class="ds-share-aside-left">
                <div class="ds-share-aside-inner">
                </div>
                <div class="ds-share-aside-toggle">分享到</div>
            </div>
        </div>
    </div>

    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"statistics"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] 
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
    </script>
    <!-- 多说公共JS代码 end -->

    <!--<link rel="stylesheet" href="libs/semantic/semantic.min.css">-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="src/css/anime_rank.css">-->
    <!--<script src="libs/jquery-1.11.3.min.js" type="text/javascript"></script>-->
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="libs/semantic/semantic.min.js" type="text/javascript"></script>-->
    <script src="https://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
    <!--<script src="libs/vue.js"></script>-->
    <!--<script src="src/js/anime_rank.js" type="text/javascript"></script>-->
    <script src="build/anime_rank.js" type="text/javascript"></script>
</body>

</html>